<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span sec:authentication="name">UserName</span>
<span sec:authentication="principal.authorities">Roles</span>

<div sec:authorize="isAuthenticated()">
    Welcome <b><span sec:authentication="name">UserName</span></b>
    <i><span sec:authentication="principal.authorities">Roles</span></i>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
<div sec:authorize="hasAnyAuthority('ADMIN', 'CREATOR')">
    <a href="/new">Create New Product</a>
</div>
<div sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
    <a th:href="/@{'/edit/' + ${product.id}}">Edit product</a>
</div>
<div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="/@{'/delete/' + ${product.id}">Delete product</a>
</div>
</body>
</html>